extends pug/template/default.pug
block title 
  title ENLABE | Enrique Lazo Bello - Full Stack &amp; Creative Developer
block body
  section.feed
    .swiper
      .swiper-wrapper
        article.swiper-slide 
          figure.swiper-container
            img(src="images/LinkedIn-Post-01.png").swiper-img
            figcaption.swiper-content
              strong ¡Hola!
        article.swiper-slide 
          figure.swiper-container
            img(src="images/LinkedIn-Post-02.png").swiper-img
            figcaption.swiper-content
              strong Regístrate
        article.swiper-slide 
          figure.swiper-container
            img(src="images/LinkedIn-Post-03.png").swiper-img
            figcaption.swiper-content
              strong Angular
        article.swiper-slide 
          figure.swiper-container
            img(src="images/LinkedIn-Post-04.png").swiper-img
            figcaption.swiper-content
              strong Express
        article.swiper-slide 
          figure.swiper-container
            img(src="images/LinkedIn-Post-05.png").swiper-img
            figcaption.swiper-content
              strong Serverless
        article.swiper-slide 
          figure.swiper-container
            img(src="images/LinkedIn-Post-06.png").swiper-img
            figcaption.swiper-content
              strong Salesforce
      .swiper-button-prev.swiper-button--linkedin
      .swiper-button-next.swiper-button--linkedin

