$blue: #006AC6;
$gray-light: #777777;
$gray-dark: #373a36;
$light: #DDE5ED;
$white: #ffffff;
$black:#000;
$red: #E10600;


$breakpoint-mobile: 568px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 960px;

